*{
 margin: 0;
 padding: 0;
 box-sizing: border-box;
 text-align: center;
 /* font-family: 'Catamaran', sans-serif;
 font-family: 'Montserrat', sans-serif;
 font-family: 'Oswald', sans-serif;
 font-family: 'Outfit', sans-serif;
 font-family: 'Pacifico', cursive;
 font-family: 'Playfair Display', serif;
 font-family: 'Roboto', sans-serif; */
 font-family: 'Rubik', sans-serif;
}

img{
    max-width: 100%;
  
}
p{
    color:hsl(229, 8%, 60%);
    font-size: 14px;
    line-height: 150%;
    
}

h1, h2 {
    padding: 2rem 0;
}
.img-bg{
    /* padding: 1rem; */
    
    filter: drop-shadow(100px 50px  rgb(39, 79, 199))
  }  
.social-icons{

    background-color: hsl(231, 69%, 60%) ;
}


.footer-nav{
    
    text-transform:uppercase;
    color: white;
    background-color: hsl(229, 31%, 21%);
}

.toogleOff{
    display: none;
}

#nav{
    width: 100%;
    display: flex;
    justify-content: space-between;
    padding: 1.225rem;
}

.button-link{
    background-color:white;
    list-style: none;
    margin:2.8rem 0.4rem;
    /* border-radius:5px; */
    /* box-shadow: 1px 1px 8px 1px rgba(221,224,224,1); */
    
}
.button-link:hover{
    background-color:hsl(231, 69%, 60%) ;
    color: white;
}
.button-link-container{
    display: flex;
    justify-content: center;
    gap: 1rem;
   
}

.button-link-container li a{
text-decoration: none;
color: black;
background-color:white;
list-style: none;
padding: 0.8rem 0.4rem;
border-radius:5px;
box-shadow: 1px 1px 8px 1px rgba(221,224,224,1);

}
.button-link-container li a:hover{
color: white;
background-color:hsl(231, 69%, 60%) ;
}

